### urls ###
BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://brugge:secret@localhost:5432/brugge

### auth ###
BETTER_AUTH_SECRET=secret
GOOGLE_CLIENT_ID=secret
GOOGLE_CLIENT_SECRET=secret
MICROSOFT_CLIENT_ID=secret
MICROSOFT_CLIENT_SECRET=secret

